{% if profiles %}
   There are {{ profiles|length }} profiles:
<ul>
  {% for profile in profiles %}
    <a href="{% url 'update_profile' profile.id %}">

      <!-- <li>User url: {{profile.url}}</li> -->
      <li>Username: {{profile.user}}</li>
      <li>Coffe: {{profile.coffe}}</li>
      <li>Cake: {{profile.cake}}</li>
      <li>Coffe: {{profile.coffetotal}}</li>
      <li>Cake: {{profile.caketotal}}</li>
      <hr>

    </a>
    {% endfor %}
</ul>
{% endif %}

<a href="{% url 'create_profile' %}">New Profile</a>