

<div ng-controller="ProdusCtrl">
    <!-- Product:
    <div ng-repeat="product in products">
        <div style="margin-left: 20px;">
            quantity: {{ product.quantity }} <br/>
            cross: {{ product.cross }} <br/>
            price: {{ product.price }} <br/>
            product_type: {{ product.product_type }} <br/>
            <hr/>
        </div>
    </div>
    <br/>  -->
    <h4>Add your products:</h4>
    <form ng-submit="todoAdd()">
        <input type="text" ng-model="todoInput" placeholder="add a new product">
        <button type="submit" 
        ng-click="saveData()">Submit</button>
    </form>
    <br>
    <hr>

    <h4>All products:</h4>
    <div ng-repeat="todo in todoList">
        <input type="checkbox" ng-model="todo.done"/>
        <span ng-bind="todo.name"></span>
    </div>

    <p>
        <button ng-click="remove()">Done</button>
    </p>

    <!-- <div ng-repeat="producttype in producttypes">
        <div style="margin-left: 20px;">
            name: {{ producttype.name }} <br/>

            <hr>
        </div>
    </div> -->
    <br/>
  
</div>
