<div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" ng-model="produs.name" class="form-control" id="name" placeholder="Product Name Here"/>
    </div>
  </div>
  <!-- <div class="form-group">
    <label for="year" class="col-sm-2 control-label">Release Year</label>
    <div class="col-sm-10">
      <input type="text" ng-model="produs.releaseYear" class="form-control" id="year" placeholder="When was the produs released?"/>
    </div>
  </div>
  <div class="form-group">
    <label for="director" class="col-sm-2 control-label">Director</label>
    <div class="col-sm-10">
      <input type="text" ng-model="produs.director" class="form-control" id="director" placeholder="Who directed the produs?"/>
    </div>
  </div>
  <div class="form-group">
    <label for="plot" class="col-sm-2 control-label">Produs Genre</label>
    <div class="col-sm-10">
      <input type="text" ng-model="produs.genre" class="form-control" id="plot" placeholder="Produs genre here"/>
    </div>
  </div> -->
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" class="btn btn-primary" value="Save"/>
    </div>
  </div>