<br>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h3>Add a new product</h3>
          </div>
          <div class="content">
            <form>
              <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-6">
                  <input type="text" ng-model="produs.name" class="form-control" id="name" placeholder="Product Name Here" />
                </div>
                <div class="col-sm-4">
                  <button type="submit" class="btn btn-primary" value="Save"> Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

