
<div ng-controller="PurchaseViewController">
    <div ng-controller="PurchaseEditController">
    <div ng-controller="PurchaseListController">   
<table class="table purchasetable">
    <tr>
      <td><h3>Edit the purchase of the user with the id: {{purchase.user}}</h3></td>
      <td></td>
    </tr>
    <tr>
      <td>User ID:</td>
      <td>{{purchase.user}}</td>
    </tr>
    <tr>
      <td>Coffe X number:</td>
      <td>{{purchase.coffe}}</td>
    </tr>
    <tr>
      <td>Cake X number:</td>
      <td>{{purchase.cake}}</td>
    </tr>
    <!-- <tr>
      <td>Purchase Genre</td>
      <td>{{purchase.genre}}</td>
    </tr>  -->
  </table>
  <div>
    <a class="btn btn-primary" ui-sref="editPurchase({id:purchase.id})">Edit</a>
  </div>

  </div></div></div>