
<hr>
<a ui-sref="newPurchase" class="btn-primary btn-lg nodecoration">Add New Product</a>

<table class="table purchasetable">
  <tr>
    <td><h3>All Products:</h3></td>
    <td><h3>ID of the product:</h3></td>
    <td><h3>ID of the product:</h3></td>

  </tr>
  <tr ng-repeat="purchase in purchases">
    <td>{{purchase.user}}</td>
    <td>{{purchase.coffe}}</td>
    <td>{{purchase.cake}}</td>


    <td>
      <a class="btn btn-primary" ui-sref="viewPurchase({id:purchase.id})">Edit</a>
      <a class="btn btn-danger"  ng-click="deletePurchase(purchase)">Delete</a>
    </td>
  </tr>
</table>