<br>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <div class="col-md-9">
              <h4 class="title">Intendant Restricted Page </h4>
              <p class="category">Users Management</p>
            </div>
            <div class="col-md-3">
              <button class="btn btn-success" ui-sref="newUser">Add New User</button>
            </div>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <th colspan="5">
                  <h3>All Users:</h3>
                </th>
                <tr>
                  <td><strong>Username</strong></td>
                  <td><strong>First Name</strong></td>
                  <td><strong>Last Name</strong></td>
                  <td><strong>Email</strong></td>
                  <td colspan="2"><strong>Group ID</strong></td>
                </tr>
              </thead>
              <tr ng-repeat="user in users">
                <td>{{user.username}}</td>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.email}}</td>
                <!-- <td>{{user.groups.name}}</td> -->
                <td>{{user.groups}}</td>
                <td>
                  <a class="btn btn-primary" ui-sref="viewUser({id:user.id})">Edit</a>
                  <!-- <a class="btn btn-danger" ng-click="deleteUser(user)">Delete</a> -->
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>