<section id="services" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Wishlist</h2>
          <p class="lead">
              All wanted products:
 
              <div ng-controller="ProdusListController">
              
                  <ul ng-repeat="profile in produse">
                      
                      <li>{{profile.name}}</li>
              
                  </ul>
                
              </div>          </p>
        </div>
      </div>
    </div>
  </section>