<hr>
<a ui-sref="newProdudus" class="btn-primary btn-lg nodecoration">Add New Product</a>

<table class="table produdustable">
  
  <tr>
    <td><h3>Product management:</h3></td>
    <td></td>
  </tr>

  <tr>
    <td><strong>ID of the product</strong></td>
    <td><strong>Quantity</strong></td>
    <td><strong>Crosses</strong></td>
    <td><strong>Price</strong></td>
  </tr>

  <tr ng-repeat="produdus in produduse">
    <td>{{produdus.product_type}}</td>
    <td>{{produdus.quantity}}</td>
    <td>{{produdus.cross}} x</td>
    <td>{{produdus.price}} (€)</td>

    <td>
      <a class="btn btn-primary" ui-sref="viewProdudus({id:produdus.id})">Edit</a>
      <a class="btn btn-danger"  ng-click="deleteProdudus(produdus)">Delete</a>
    </td>
  </tr>
</table>