<br>
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <div class="col-md-9">
              <h4 class="title">Product Management Page</h4>
              <p class="category">To make everyone's job easier</p>
            </div>
            <div class="col-md-3">
              <button ui-sref="newProdudus" class="btn btn-success">Add New Product</button>
            </div>
          </div>
          <div class="content table-responsive table-full-width">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <td><strong>Name of the product</strong></td>
                  <td><strong>Shop Price</strong></td>
                  <td><strong>Crosses</strong></td>
                  <td><strong>Quantity</strong></td>
                  <td colspan="2"><strong>Total</strong></td>
                </tr>
              </thead>
              <tbody ng-repeat="_ in [ [ search, produduse ] ]" ng-init="total = 0">
                <tr ng-repeat="produdus in produduse">
                  <td>{{produdus.product_type.name}}</td>
                  <td>{{produdus.price}} (€)</td>
                  <td>{{produdus.price * 2}} x</td>
                  <td>{{produdus.quantity}}</td>
                  <!-- <td>{{produdus.price}} (€)</td> -->
                  <!-- <td>{{produdus.quantity * produdus.cross * 0.5}} (€)</td> -->
                  <td ng-init="$parent.total = $parent.total + (produdus.price * produdus.quantity)">{{ produdus.price * produdus.quantity}} (€)</td>
                  <td>
                    <a class="btn btn-primary" ui-sref="editProdudus({id:produdus.id})">Edit</a>
                    <!-- <a class="btn btn-danger"  ng-click="deleteProdudus(produdus)">Delete</a> -->
                  </td>
                </tr>
                <tr>
                  <td colspan="4"><b>Total</b></td>
                  <td><b>{{ total }} (€)</b></td>
                </tr>
                <!-- <tr>
                  <td><a href="http://localhost:8000/Product/newproduct" class="btn btn-dark">Add New Product</a>
                  </td>
                </tr> -->
              </tbody>
              <!-- <tr ng-repeat="produdus in produduse">
                <td>{{produdus.product_type}}</td>
                <td>{{produdus.quantity}}</td>
                <td>{{produdus.cross}} x</td>
                <td>{{produdus.price}} (€)</td>
                <td>{{produdus.quantity * produdus.cross * 0.5}} (€)</td>
                <td>
                  <a class="btn btn-primary" ui-sref="editProdudus({id:produdus.id})">Edit</a>
                  <a class="btn btn-danger" ng-click="deleteProdudus(produdus)">Delete</a>
                </td>
              </tr> -->
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>